<div class="modal">
    <div>Загрузите файл</div>
    <form method="post">
        <label class="input-file">
            <input type="file" name="file">
            <span>Выбрать файл на компьютере</span>
        </label>
    </form>
    <button>Поменять</button>
</div>