@import '../../../styles/common.scss';

.user {
    width: 510px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__header {
        margin: 0 auto;

        &-img {
            position: relative;
            cursor: pointer;
            width: 130px;
            height: 130px;
            min-height: 130px;
            min-width: 130px;
            border-radius: 50%;
<<<<<<< HEAD
            background-color: $c-background;
=======
            background-color: #EFEFEF;
>>>>>>> a7027fb (fix files)
            margin-bottom: 20px;
            background-image: url('../../../../static/img/avatar.png') center center no-repeat;
        
            &:hover {
                background-color: #000000;
                opacity: 0.5;

                &:after {
                    position: absolute;
                    top: 40%;
                    left: 25%;
                    content: 'Поменять аватар';
                    max-width: 65px;
                    text-align: center;
<<<<<<< HEAD
                    color: $c-white;
=======
                    color: white;
>>>>>>> a7027fb (fix files)
                    font-size: 13px;
                    line-height: 14px;
                    z-index: 10;
                }
            }
        }

        &-name {
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            margin: 0 auto 60px;
        }
    }

    &__fields {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
<<<<<<< HEAD
        border-bottom: 1px solid $c-border;
=======
        border-bottom: 1px solid #EAEAEA;
>>>>>>> a7027fb (fix files)
        padding: 10px 0;
        font-size: 13px;
        line-height: 13px;

        &-content {
<<<<<<< HEAD
            color: $c-color;

            &--input {
                text-align: right;
                border: none;
            }
=======
            color: #999999;
>>>>>>> a7027fb (fix files)
        }
    }

    &__btns {
        font-size: 13px;
        line-height: 13px;
        display: flex;
        flex-direction: column;

        button {
            text-align: left;
            padding: 10px 0;

            &:not(:last-child) {
<<<<<<< HEAD
                color: $c-brand;
                border-bottom: 1px solid $c-border;
            }

            &:last-child {
                color: $c-red;
            }
        }
    }
}
=======
                color: #3369F3;
                border-bottom: 1px solid #EAEAEA;
            }

            &:last-child {
                color: #FF0000;
            }
        }
    }
}
>>>>>>> a7027fb (fix files)
