@import 'common.scss';

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FBFBFB;
    border-top: 1px solid $c-border;

    &__menu {
        width: 310px;
        border-right: 1px solid $c-border;
        min-height: 400px;
    }

    &__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        justify-content: end;
        color: $c-color;
        margin: 21px 0 23px;
        padding-right: 10px;
        
        &-text {
            padding-right: 4px;
        }
    }

    &__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: $c-background;
        font-size: 12px;
        line-height: 12px;
        color: $c-color;
        border-radius: 5px;
        padding: 10px 0;

        &-text {
            padding-left: 4px;
        }

        &-wrap {
            padding: 10px 14px;
        }
    }

    &__right {
        position: relative;
        width: 100%;
        min-height: 400px;
    }

    &__user {
        box-shadow: $b-sh;
        border-radius: 12px;
        padding: 15px;
        font-size: 12px;
        line-height: 14px;
        width: 210px;

        &-toggler {
            background: #F5F5F5;
            position: relative;
            border-radius: 50%;
            width: 25px;
            height: 25px;

            &-wrap {
                position: absolute;
                top: 15px;
                right: 20px;
            }

            &::before,
            &::after {
                position: absolute;
                content: '';
                border-radius: 50%;
                background: $c-brand;
                width: 3px;
                height: 3px;
            }

            &::before {
                top: 11px;
                left: 11px;
            }

            &::after {
                top: 5px;
                left: 11px;
            }
        }

        &-action {
            position: relative;
            padding-left: 37px;

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -4px;
                left: 0;
                border: 1px solid $c-brand;
                color: $c-brand;
                border-radius: 50%;
                width: 22px;
                height: 22px;
            }

            &--add {
                &::before {
                    content: '+';
                }
            }

            &--delete {
                &::before {
                    content: 'x';
                }
            }
        }
    }

    &__dialogs {
        display: flex;
        flex-direction: column;
        min-width: 290px;

        &-item {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            padding: 12px 10px;
            border-bottom: 1px solid $c-border;

            &:first-child {
                border-top: 1px solid $c-border;
            }

            &:hover {
                background: #E4EDFD;
            }
        }

        &-img {
            background: $c-background;
            min-width: 47px;
            width: 47px;
            height: 47px;
            border-radius: 50%;
            margin-right: 10px;
        }

        &-name {
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
            margin-bottom: 4px;
        }

        &-message {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $c-color;
        }
    }

    &__window {
        margin-top: auto;
        margin-bottom: 0;
        width: 100%;
        padding: 11px 60px;
        font-size: 12px;
        line-height: 12px;
        color: $c-color;
        border-top: 1px solid $c-border;
        position: absolute;
        bottom: 0;

        &-input {
            background: $c-background;
            padding: 10px 20px;
            width: 100%;
            border: none;
            border-radius: 30px;
        }
    }
}
