.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FBFBFB;
  border-top: 1px solid #EAEAEA;
}
.main__menu {
  width: 310px;
  border-right: 1px solid #EAEAEA;
  min-height: 400px;
}
.main__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  justify-content: end;
  color: #999999;
  margin: 21px 0 23px;
  padding-right: 10px;
}
.main__profile-text {
  padding-right: 4px;
}
.main__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #EFEFEF;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  border-radius: 5px;
  padding: 10px 0;
}
.main__search-text {
  padding-left: 4px;
}
.main__search-wrap {
  padding: 10px 14px;
}
.main__right {
  position: relative;
  width: 100%;
  min-height: 400px;
}
.main__user {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 15px;
  font-size: 12px;
  line-height: 14px;
  width: 210px;
}
.main__user-toggler {
  background: #F5F5F5;
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.main__user-toggler-wrap {
  position: absolute;
  top: 15px;
  right: 20px;
}
.main__user-toggler::before, .main__user-toggler::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background: #3369F3;
  width: 3px;
  height: 3px;
}
.main__user-toggler::before {
  top: 11px;
  left: 11px;
}
.main__user-toggler::after {
  top: 5px;
  left: 11px;
}
.main__user-action {
  position: relative;
  padding-left: 37px;
}
.main__user-action:not(:last-child) {
  margin-bottom: 24px;
}
.main__user-action::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  left: 0;
  border: 1px solid #3369F3;
  color: #3369F3;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
.main__user-action--add::before {
  content: "+";
}
.main__user-action--delete::before {
  content: "x";
}
.main__dialogs {
  display: flex;
  flex-direction: column;
  min-width: 290px;
}
.main__dialogs-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 12px 10px;
  border-bottom: 1px solid #EAEAEA;
}
.main__dialogs-item:first-child {
  border-top: 1px solid #EAEAEA;
}
.main__dialogs-item:hover {
  background: #E4EDFD;
}
.main__dialogs-img {
  background: #EFEFEF;
  min-width: 47px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  margin-right: 10px;
}
.main__dialogs-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 4px;
}
.main__dialogs-message {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}
.main__window {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  padding: 11px 60px;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
  border-top: 1px solid #EAEAEA;
  position: absolute;
  bottom: 0;
}
.main__window-input {
  background: #EFEFEF;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 30px;
}/*# sourceMappingURL=main.css.map */