<form class="form-simple__wrap" action="post">
    <div class="form-simple__fields">
        {{{login}}}
        {{{password}}}
    </div>
    
    <button type="submit" class="form-simple__btn">Авторизоваться</button>
</div>
