@import '../../../styles/common.scss';

.form-simple {
    box-shadow: $b-sh;
    border-radius: 12px;
    padding: 50px 30px 30px;
    max-width: 340px;
    min-height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        text-align: center;
        margin: 0 auto 40px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    &__label {
        font-size: 9px;
        line-height: 9px;
<<<<<<< HEAD
        color: $c-color;
    }

    &__input {
        color: $c-dark;
        font-size: 13px;
        line-height: 13px;
        border: none;
        border-bottom: 1px solid $c-brand;
        padding: 7px 0;
        width: 100%;
        margin-bottom: 20px;

        &-wrap {
            position: relative;
        }
    }

    &__error {
        font-size: 12px;
        color: red;
        position: absolute;
        bottom: 4px;
=======
        color: #999999;
    }

    &__input {
        color: #1E1E1E;
        font-size: 13px;
        line-height: 13px;
        border: none;
        border-bottom: 1px solid #3369F3;
        padding: 7px 0;

        &-wrap {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
>>>>>>> a7027fb (fix files)
    }

    &__wrap {
        margin-bottom: 62px;
    }

    &__btns {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__btn {
        border: none;
        border-radius: 8px;
<<<<<<< HEAD
        background: $c-brand;
        color: $c-white;
=======
        background: #3369F3;
        color: white;
>>>>>>> a7027fb (fix files)
        padding: 12px 70px;
    }

    &__link {
        margin-top: 14px;
        font-weight: 500;
        font-size: 11px;
        line-height: 11px;
<<<<<<< HEAD
        color: $c-brand;
=======
        color: #3369F3;
>>>>>>> a7027fb (fix files)
    }
}

input::placeholder {
<<<<<<< HEAD
    color: $c-dark;
=======
    color: #1E1E1E;
>>>>>>> a7027fb (fix files)
}
