<form action="post" id="changePassword" class="settings-password">
    {{{oldPassword}}}
    {{{newPassword}}}
    {{{newPasswordRepeat}}}
    
    <button type="submit" class="form-simple__btn">Сохранить</button>
</form>
