@import 'common.scss';

.error {
    margin: 0 auto;
    text-align: center;
    
    &__number {
        font-size: 40px;
        line-height: 40px;
        color: $c-dark;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 20px;
        line-height: 20px;
<<<<<<< HEAD
        color: $c-dark;
=======
        color: #1E1E1E;
>>>>>>> a7027fb (fix files)
        margin-bottom: 70px;
    }

    &__back {
        font-size: 11px;
        line-height: 11px;
<<<<<<< HEAD
        color: $c-brand;
    }
}
=======
        color: #3369F3;
    }
}
>>>>>>> a7027fb (fix files)
