<div class="main__dialogs-item">
    <div class="main__dialogs-img">
        {{!-- <img src="{{this.img}}" alt="avatar"> --}}
    </div>
    <div class="main__dialogs-text">
        <div class="main__dialogs-name">{{title}}</div>
        <div class="main__dialogs-message">{{message}}</div>
    </div>
</div>
